@font-face{
    font-family:"JFFlatRegular";
    src:url("../fonts/JFFlatRegular.ttf");
}
:root{
    --maincolor:#2568EF;
    --font-color:rgba(51, 51, 51, .5);
    --background-color:#FFF5E8;
    --font-family:"JFFlatRegular";
    --btn-color:#FF564F;
    --mainFont-color:#333333;
}
img{
    width:100%;
}
a{
 text-decoration: none;   
}
a:hover{
    color:black
}


p{
    color:var(--font-color);
    font-size:1em;

}
ul{
    padding:0;
    margin:0;
}
ul li{
    list-style-type: none;
}
body{
     font-size: 16px;
    background-color: #fff;
    position: relative;
    direction: rtl;
    text-align: right;
    font-family:var(--font-family);
    color:var( --mainFont-color);
overflow-x: hidden;
}
.navbar-expand-lg .navbar-nav{
    width:77%;
}
.mainBtn{
    background-color: var(--btn-color);
    color:white;
    width:170px;
    height:48px;
    font-size:1em;
    color:white;
    border-radius: 5px;
    border:1px solid var(--btn-color);
    transition: all .5s;;
}
.mainBtn:hover{
    background-color: white;
    color:var(--btn-color)
}
.hero{
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom:300px;
    padding-top:300px;
    padding-bottom: 70px;;
    background-color: var(--maincolor);
}
header{
    width:100%;
    position: fixed;
    padding-top:37px;
    z-index: 9999;
    top:0;
    left:0;
}
.navbar-brand.logo{
 float:none;
 width:150px;
 margin-left:90px
}
.close{
    float: left;
    text-align: left;
    display: none;
    margin:20px
}
.navbar-expand-lg .navbar-nav .nav-item{
    padding:10px 20px;
}
.navbar-expand-lg .navbar-nav .nav-link{
    font-size:1em;
    padding:0;
    color:white;
}
.navbar-expand-lg .navbar-nav  .nav-item.active .nav-link{
    color:white;
    font-weight: bold;

}

.navbar-expand-lg .navbar-nav  .nav-item.active .nav-link:before{
width:100%;
transition :all .5s;

}

.navbar-expand-lg .navbar-nav{
    margin-top:10px;
}

.scrollNav .requestBtn {
    background-color: var(--maincolor);
    color:white;
transition: all .5s;
}
.scrollNav .requestBtn:hover{
    color:var(--maincolor);
background-color: white;;
font-family:"DUBAI-MEDIUM";
border:1px solid var(--maincolor);

}
.requestBtn:hover{
    background-color: transparent;
    color:white;
transition: all .5s;
}
.heroSection{
    position: relative;
}
.heroText span{
    display: block;
    font-size:1em;
    color:white;
    margin-bottom:32px;
}
.subscribeForm{
    position: relative;
    height:48px
}
.subscribeForm .gfield_label{
    position: absolute;
}
.subscribeForm .form-control{
width:100%;
height:48px;
background-color: white;
border-radius: 5px;;
}
.subscribeForm .form-group{
    margin-bottom: 0;;
}
.subscribeBtn {
    position: absolute;
    top:0;
    left:0;
}
.heroText h5{
    font-size: 3.72625em;
    color:white;
}
.aboutUs{
    background-color: var(--background-color);
    padding-top:80px;
    padding-bottom:60px
}
.aboutBox {
    padding:10px 25px;
}
.aboutIcon{
    max-width:144px;
    height:130px;
}
.aboutIcon img{
  width:fit-content
}
.aboutBox h6{
color:var(--mainFont-color);
font-weight: bold;
margin:20px 0
}
.about{
    padding:110px 0 87px;
}
.aboutText{
    margin-top:50px;
}
.aboutText h2{
    font-size:3.25em;
    font-weight: bold;
    margin-bottom:20px;
}

.work{
    padding-top:95px;
    padding-bottom:160px;
    background-color: var(--background-color);
}
.sectionTitle{
    margin-bottom:70px;
    text-align: center;
}
.sectionTitle h4{
    color:#000000;
margin-bottom:47px;
font-size:2em;
}
.sectionTitle p{
    margin-bottom:32px;
}
.workBox {
background-color: #FFFFFF;
padding:32px;
border-radius: 20px;
position: relative;

}
.workbg{
    position: absolute;
    left:70px;
    top:70px;
    width:75px
}
.wokIcon{
    width:54px;
    height:54px;
    border-radius: 50%;
    background-color: var(--maincolor);
    display: block;
}
.workBox h4{
    font-size:1.5em;
    margin-bottom:20px;
    font-weight: bold;
    margin-top:160px;
}
.No{
font-size: 4.5em;
color:#FF9B19;
position: absolute;
left: 60px;
top: 40px;
}

.aboutText {
    margin-top:120px;

}
.advantages{
    padding:120px 0;
}
.advantagesList{
    max-width: 80%;;
}
.advantagesList li{
    margin-bottom:20px;
}
.advantagesList li .Icon{
    width:80px;
    margin-left:20px;
    display:block;
    float:right
}
.advantages .sectionTitle h4{
    font-size:3.25em;

}
.advantagesList li h4{
    font-size: 1.5em;
    margin-bottom:10px;
}
.counterBox{
    position: relative;
    text-align: center;
    padding:10px 30px;
}
.counterBG{
    position: absolute;
    right: 26%;
    top: -33%;
}
.counter{
    padding-top:126px;
    padding-bottom:144px;
    background-color: var(--maincolor);
}
.number{
    font-size:3.5em;
    color:white;
}
.counterBox h6{
    font-size:1.2em;
    color: white;
    margin-bottom:20px;;
}
.counterBox p{
    color:white;
}
.team{
    padding-top:95px;
    padding-bottom:160px;;
}
.teamBox{
    width:100%;
    background-color: var(--background-color);
    border-radius: 20px;
    overflow: hidden;
    height:430px;
    transition: all .5s;;
}
.teamBox:hover{
    background-color: var(--btn-color);
}
.teamBox:hover .memberImg{
    height:60%;
    transition: all .5s;;

}
.teamBox:hover .memberImg img{
    height:auto;
    width:100%;
    transition: all .2s;;
    object-fit: fill;
}
.teamBox:hover .memberDetails{
    margin-top:-10%;
    transition: all .5s;;
}
.memberImg{
    height:70%;
    border-radius: 20px;
    overflow: hidden;
    transition: all .5s;;
}
.memberImg img{
    width:auto;
    height: 100%;
    transition: all .2s;;

}
.memberDetails{
    padding:42px 22px;
    transition: all .5s;;

}
.memberDetails h4{
    font-size:1.5em;
    color:var(--mainFont-color);
    margin-bottom:5px;
}
.teamBox:hover .memberDetails h4,.teamBox:hover .memberDetails p{
    color:white;
}
.memberDetails .socialIcons{
    margin-top:32px;
    float:none;
    text-align: right;
}
.memberDetails .socialIcons li{
    width:48px;
    height: 48px;
    background-color: rgba(255,255,255,.07);
}
.memberDetails .socialIcons li a{
    color:white;
}
.owl-carousel .owl-stage-outer{
    overflow:visible
}
.owl-item {
    opacity: 0;
    transition: opacity .2s;
 }
.owl-item.active {
   opacity: 1;
 }

.portfoilo{
    padding:83px 0 90px;
}
.portfoilo .sectionTitle{
    margin-bottom:30px;
}
.nav-pills{
    margin:auto;
    height:48px;
    margin-bottom:48px;
    border-radius: 5px;
    overflow: hidden;
}
.nav-pills .nav-item{
    width:105px;
    background-color:rgba(37, 104, 239, .1) ;
 
}
.nav-pills .nav-item .nav-link{
    color:var(--font-color);
    text-align: center;
    height:100%;
}
.nav-pills .nav-item .nav-link.active{
background-color: var(--maincolor);
color:white;
}
.portfoilo .pagination{
    width:100%;
    text-align: center;
    margin-top:32px;
    display: inline-block;
}
.pagination .page-item{
    margin-left:15px;
    display: inline-block;

}
.pagination-lg .page-item .page-link{
    width:50px;
    height:50px;
    border-radius: 50% !important;
    border:0;
    background-color:rgba(37, 104, 239, .1);
    color:var(--font-color);
    text-align: center;
    padding:0;
    line-height: 50px;;
    transition: all .5s;

}
.pagination-lg .page-item.active .page-link{
    background-color: var(--maincolor);
    color:white;
    transition: all .5s;
}
.tallImg{
    height:480px;
}
.galleryItem{
    width:100%;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom:32px;
}
.galleryItem img{
    width:100%;
    height:100%;
}

.shortImg{
    height:352px;
}

.contactUs{
    padding:83px 0 91px;
    background-color: var(--background-color);
}
.gfield_required{
    display: none;;
}
.contactForm{
    background-color: white;;
    padding:39px 48px;
    border-radius: 20px;
    overflow: hidden;
}
.contactForm h6{
    font-size:1.2em;
    color:var(--mainFont-color);
    margin-bottom:25px;
    font-weight: bold;
}
.contactForm .form-contol::placeholder{
    font-size:1em;
    color:var(--font-color)
}
.contactForm .form-control{
    width:100%;
    height:48px;
    border:1px solid #DADADA; 
}
.contactForm  .form-group{
margin-bottom: 15px;;
}
.contactForm textarea.form-control{
    height:90px;
    resize: none;
}
.contactForm  .mainBtn{
    margin-top:17px;
}
.contactText{
    margin-top:100px;
}
.contactText h6{
    font-size:1.2em;
    color:var(--mainFont-color);
    font-weight: bold;
    margin-bottom:20px;
}
.contactList li{
    margin-bottom:12px;
}
.contactList li h6{
    font-size:1em;
    color:var(--mainFont-color)
}
.socialIcons.socialContact{
    float: none;
    margin-top:32px;
}
.socialIcons.socialContact li{
background-color: #324A58;
}
.socialIcons.socialContact li a{
    color:white;
}
footer{
    background-color: #324A58;
    padding:25px 0;
}


.footerList li {
    color:white;
    font-size:1em;
    margin-bottom:10px;
}
.footerList li i,.footerList li p{
    display: inline-block;
    margin-bottom: 0;
}
.footerList li i {
    margin-left:5px;
}
footer .logo{
    width:180px;
    float: left;
}
.socialIcons{
    float: left;
}
.socialIcons li{
    display: inline-block;
    width:48px;
    height:48px;
    border-radius: 50%;
    background-color:white;
    margin-left:8px;
    text-align: center;
    transition: all .5s;
}

.socialIcons li a{
    color:#272B4B;
line-height: 20px;
font-size:20px;
}
.socialIcons li i{
    line-height: 46px;;
}
.socialIcons li:hover{
    background-color: var(--btn-color);
    transition: all .5s;
}
.socialIcons li.facebook:hover a{
    color:#3b5998 ;
}
.socialIcons li.twitter:hover a {
    color:#00acee;
}
.socialIcons li.insta:hover a{ 
    COLOR: #FD1D1D;
}

footer p{
    text-align: center;
    font-size:.8888em;
    color:rgba(255,255,255,.5);
    text-align: center;
}

.close{
    display: none;
    text-align: left;
    margin: 20px;

}
.scrollNav {
    top: 0 !important;
    z-index: 555;
    animation-duration: .5s;
    background: #324A58;
    position: fixed !important;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 3px 20px 3px;
    transition: 1s all;
    left: 0;
    width:100%;
    right:0;
    padding:10px 0;
    transition: all .5s;;
    animation:sticky;
}
.btn{
    line-height: 37px;
}
.overlay{
    position: absolute;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,.4);
    z-index: 99;
    display: none;
}

@media(min-width:300px) and (max-width:767px){
    body{
        font-size:12px
    }
    header{
        padding-top:20x;
    }
    .owl-carousel .owl-stage-outer{
    overflow: hidden;
}
.navbar-collapse{
    position: absolute;
    width:70%;
    background-color: white;
    right: -30px;
    top: -37px;
    height:100vh;
    z-index: 9999;
    padding: 0 20px
}
.navbar-brand.logo {
    float: right;
    width: 87px;
    margin-left: 90px;
    margin-right: 0;
}
.socialIcons{
    float: none;;
}
.socialIcons li{
    background-color:#324A58 ;
}
.socialIcons li a{
    color:white;
}

.navbar-expand-lg .navbar-nav .nav-item .nav-link,.navbar-expand-lg .navbar-nav .nav-item.active .nav-link{
    color:var(--maincolor)
}
.close{
    display: block;
}
    .hero{
        padding:150px 0;
   
    }
    .workBox{
        margin-bottom:20px;
        height:auto
    }
    .workBox h4{
        margin-top:70px;
    }
    .heroSection .subscribeBox{
        margin-top:20px;
    }
.sectionTitle{
    margin-bottom:50px;
}

    .socialIcons{
        text-align: right;
        margin-top:20px;
        margin-bottom:20px;
    }

    button.navbar-toggler {
        position: relative;
        border: none;
        height: 40px;
        width:50px;
        cursor: pointer;
        border-radius: 0;
        opacity: .7;
        left: 16px;
        border:1px solid white;
        text-align: center;
    }
 
    .mobileMenu i{
        background-color: white;
        border-radius: 2px;
        content: '';
        display: block;
        width: 95%;
        height: 3px;
        margin-bottom:5px
    }
    .mobileMenu i:last-child{
    margin-bottom: 0;;
    }
    .nav-link{
        margin-bottom:10px;
        margin-top:10px;
    }
    .contactUs{
        padding:20px 0;
    }
.nav-pills .nav-item{
width:auto;
}
.nav-pills .nav-item .nav-link{
    margin:0;
    height: 100%;;
}
.portfoilo,.team,.counter{
    padding:50px 0
}
    .counterBox{
        margin-bottom:20px;
    }
    .tallImg,.shortImg{
        height: auto;
    }
    .galleryItem img{
        height: auto;
    }
    .nav-pills{
        height:36px;
    }
    .contactForm{
        padding:20px;
    }
    .contactForm .mainBtn{
        width:100%
    }
}
@media(min-width:768px) and (max-width:1023px){
    body{
        font-size:14px
    }
    .owl-carousel .owl-stage-outer{
        overflow: hidden;
        padding:20px 5;
    }
    .navbar-collapse{
        position: absolute;
        width:70%;
        background-color: white;
        right: -30px;
        top: -37px;
        height:100vh;
        z-index: 9999;
        padding: 0 20px
    }
    .navbar-brand.logo {
        float: right;
        width: 87px;
        margin-left: 90px;
        margin-right: 0;
    }
    .navbar-expand-lg .navbar-nav .nav-item .nav-link,.navbar-expand-lg .navbar-nav .nav-item.active .nav-link{
        color:var(--maincolor)
    }
    .socialIcons li{
        background-color:#324A58 ;
    }
    .socialIcons li a{
        color:white;
    }
    
    .close{
        display: block;
    }
        .hero{
            padding:150px 0;
       
        }
.workBox{
    margin-bottom:30px;
}
.sectionTitle{
    margin-bottom:50px;
}

footer{
    padding:20px 0;
}
.subscribe{
    top:auto;
    margin-bottom:20px;
}
.sectionTitle{
    margin-bottom:50px;
}

.portfoilo,.team,.counter{
    padding:50px 0
}
    .counterBox{
        margin-bottom:20px;
    }
.socialIcons{
    float: none;
}

    .subscribeBtn{
        width:140px;
    }
    button.navbar-toggler {
        position: relative;
        border: none;
        height: 40px;
        width:50px;
        cursor: pointer;
        border-radius: 0;
        opacity: .7;
        left: 16px;
        border:1px solid white;
        text-align: center;
        display: block;
    }
 
    .mobileMenu i{
        background-color: white;
        border-radius: 2px;
        content: '';
        display: block;
        width: 95%;
        height: 3px;
        margin-bottom:5px
    }
    .mobileMenu i:last-child{
    margin-bottom: 0;;
    }
    
}
@media(min-width:1024px) and (max-width:1200px){
    .navbar-brand.logo {
        float: none;
        width: 102px;
        margin-left: 32px;
    }
    .navbar-expand-lg .navbar-nav .nav-item{
        padding:10px 15px;
    }
    .navbar-expand-lg .navbar-nav {
        width: 74%;
    }
}