@font-face{
    font-family:"JFFlatRegular";
    src:url("../fonts/JFFlatRegular.ttf");
}
:root{
    --maincolor:#2568EF;
    --font-color:rgba(51, 51, 51, .5);

    --font-family:"JFFlatRegular";
    --btn-color:#FF564F;
    --mainFont-color:#333333;
}
img{
    width:100%;
}
a{
 text-decoration: none;   
}
a:hover{
    color:black
}


p{
    color:var(--font-color);
    font-size:1em;

}
ul{
    padding:0;
    margin:0;
}
ul li{
    list-style-type: none;
    margin-bottom:19px;
}
body{
     font-size: 16px;
    background-color: #fff;
    position: relative;
    direction: rtl;
    text-align: right;
    font-family:var(--font-family);
    color:var( --mainFont-color);
overflow-x: hidden;
}
.mainBtn{
    background-color: var(--btn-color);
    color:white;
    width:170px;
    height:48px;
    font-size:1em;
    color:white;
    border-radius: 5px;
    border:1px solid var(--btn-color);
    transition: all .5s;;
}
.mainBtn:hover{
    background-color: var(--btn-color);
}
.hero{
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom:300px;
    padding-top:300px;
    padding-bottom: 70px;;
    background-color: var(--maincolor);
}
header{
    width:100%;
    position: fixed;
    padding-top:37px;
    z-index: 9999;
    top:0;
    left:0;
}
.navbar-brand.logo{
 float:none;
 width:150px;
 margin-left:90px
}
.close{
    float: left;
    text-align: left;
    display: none;
    margin:20px
}
.navbar-expand-lg .navbar-nav .nav-item{
    padding:10px 20px;
}
.navbar-expand-lg .navbar-nav .nav-link{
    font-size:1em;
    padding:0;
    color:white;
}
.navbar-expand-lg .navbar-nav  .nav-item.active .nav-link{
    color:white;
    font-weight: bold;

}

.navbar-expand-lg .navbar-nav  .nav-item.active .nav-link:before{
width:100%;
transition :all .5s;

}

.navbar-expand-lg .navbar-nav{
    margin-top:10px;
}

.scrollNav .requestBtn {
    background-color: var(--maincolor);
    color:white;
transition: all .5s;
}
.scrollNav .requestBtn:hover{
    color:var(--maincolor);
background-color: white;;
font-family:"DUBAI-MEDIUM";
border:1px solid var(--maincolor);

}
.requestBtn:hover{
    background-color: transparent;
    color:white;
transition: all .5s;
}
.heroSection{
    position: relative;
}
.heroText span{
    display: block;
    font-size:1em;
    color:white;
    margin-bottom:32px;
}


.heroText h5{
    font-size: 3.72625em;
    color:white;
}
.aboutUs{
    background-color: #FFF5E8;;
    padding-top:80px;
    padding-bottom:60px
}
.aboutBox {
    padding:10px 25px;
}
.aboutIcon{
    max-width:144px;
    height:130px;
}
.aboutIcon img{
  width:fit-content
}
.aboutBox h6{
color:var(--mainFont-color);
font-weight: bold;
margin:20px 0
}
.about{
    padding:110px 0 87px;
}
.aboutText{
    margin-top:50px;
}
.aboutText h2{
    font-size:3.25;
    font-weight: bold;
    margin-bottom:20px;
}

.services{
    padding-top:164px;
    padding-bottom:250px;
}
.sectionTitle{
    margin-bottom:130px;
    text-align: center;
}
.sectionTitle h4{
    color:#000000;
margin-bottom:47px;
font-size:2em;
}

.sectionTitle p{
   font-size:1.3333333333333333em;
    opacity: .5;
    color:var(--font-color);
}
.servicesBox{
    border-radius: 4px;
    padding:64px 40px;
    text-align: center;
    height: 400px;;
}
.serviceIcon{
    max-width: 83px;
    margin:auto;
    margin-bottom: 40px;
    text-align: center;

}
.servicesBox:hover{
    box-shadow:0 30px 50px rgba(0, 0, 0, 0.1) ;
}
.servicesBox h4{
    font-size:1.4444444444444444em;
    margin-bottom: 24px;
}
.servicesBox p{
    font-size:1em;
  color:var(--font-color);
}

.aboutImg{
    border-radius: 8px;
    overflow:hidden;
}
.aboutText {
    margin-top:120px;

}
.aboutText h5{
    font-size:1.5555555555555556em;
    color:black;
}
.aboutText p{
    font-size:1.2222222222em;
    color:var(--font-color);
margin-top:62px;
}
.marginAbout{
    margin-top:140px;
}
.clients{
    padding-top:150px;
    padding-bottom:180px;
}
.clientBox{
    padding:60px 20px;
    border-radius: 4px;
    box-shadow:0 30px 50px rgba(0, 0, 0, 0.1);
}
.clientBox h4{
font-size:1.4444444444444444em;
margin-top:30px;
margin-bottom:25px;
}
.clientBox p{
    font-size:1em;
    color:var(--font-color);
    margin-bottom:50px;
}
.clientImg{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    float: right;
}
.clientName{
    float:right;
    margin-right:20px;
    width:70%;
}
.clientName h4{
    font-size:1em;
    color:var(--mainFont-color);
    margin-bottom: 7px;;
}
.clientName span{
    font-size:0.8888888888888888em;
    color:#004FCD;
}
.owl-carousel .owl-stage-outer{
    overflow:visible
}
.owl-item {
    opacity: 0;
    transition: opacity .2s;
 }
.owl-item.active {
   opacity: 1;
 }


.subscribeBox {
    margin-top:50px;
}
.subscribeForm{
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom:0;
}
.subscribeBox .form-group{
    width:100%;
}
.subscribeBox .form-control{
    background-color: white;
    border-radius: 5PX;
    height:48px;
}
.subscribeBtn {
position: absolute;

LEFT:0;
top:0;
border-radius: 5px 0 0 5px;;
}
footer{
    background-color: #272B4B;
    padding-top:300px;
    padding-bottom:90px;
}
.subscribeBtn:hover{
    background-color: transparent;
    color:var(--btn-color);
    transition:  all .5s;
}

.footerList li {
    color:white;
    font-size:1em;
    margin-bottom:10px;
}
.footerList li i,.footerList li p{
    display: inline-block;
    margin-bottom: 0;
}
.footerList li i {
    margin-left:5px;
}
footer .logo{
    width:180px;
    float: left;
}
.socialIcons{
    float: left;
}
.socialIcons li{
    display: inline-block;
    width:42px;
    height:42px;
    border-radius: 50%;
    background-color:white;
    margin-right:15px;
    text-align: center;
    transition: all .5s;

}
.socialIcons li a{
    color:#272B4B;
line-height: 20px;
font-size:20px;
}
.socialIcons li i{
    line-height: 40px;;
}
.socialIcons li:hover{
    background-color: rgba(0,0,0,.1);
    transition: all .5s;
}
.facebook:hover a{
    color:#3b5998 ;
}
.twitter:hover a {
    color:#00acee;
}
.insta:hover a{ 
    COLOR: #FD1D1D;
}
.copyRights {
    margin-top:50px;
    text-align: center;
}
.copyRights h3{
    text-align: center;
    font-size:.8888em;
    color:#8291AB;
}
.modal.show .modal-dialog{
    max-width: 70%;;
}
.close{
    display: none;
    text-align: left;
    margin: 20px;

}
.scrollNav {
    top: 0 !important;
    z-index: 555;
    animation-duration: .5s;
    background: #272B4B;
    position: fixed !important;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 3px 20px 3px;
    transition: 1s all;
    left: 0;
    width:100%;
    right:0;
    padding:10px 0;
    transition: all .5s;;
    animation:sticky;
}
.btn{
    line-height: 37px;
}
footer i{
    width:30px;
    height:30px;
}
footer .fas.fa-phone-volume{
color:#272B4B
}
@media(min-width:300px) and (max-width:767px){
    body{
        font-size:12px
    }
    .owl-carousel .owl-stage-outer{
    overflow: hidden;
}
    .heroImg img{
        width:100%;
        height: auto;
    }
    .hero{
        padding:20px 0;
        background-image:none;
        background-image: linear-gradient(45deg ,#426CD9,#284BA6);
    }
    .heroImg{
        margin-top:0;
    
    }
    .contactBtn{
        width:100%;
    float: none;
    }
    .heroSection .subscribeBox{
        width:100%;
        position: relative;
        top:auto;
        right:auto;
        margin-top:20px;
    }
    .navbar-expand-lg .navbar-nav .nav-link:before{
        display:none;
    }
    .subscribeBtn{
        height: 70px;
        width: 113px;
    }
.services{
    padding:50px 0;
}
.sectionTitle{
    margin-bottom:50px;
}

.servicesBox{
    height:auto;
    padding:30px;
}
.marginAbout{
    margin-top: 20px;;
}
.clients{
    padding:50px 0;
}
.subscribe{
    top:auto;
}
.subscribe .container{
    border-radius: 0;
    padding:30px 20px;;
}
   footer{
       padding:20px 0;
   }
    .socialIcons{
        text-align: right;
        margin-top:20px;
        margin-bottom:20px;
    }
    footer .logo{
        float: none;
    }
    .socialIcons li{
        float: none;
    }
    .requestBtn{
        width:100%;
    }
    .heroText{
        margin-top: 90px;
    }
    button.navbar-toggler {
        position: relative;
        border: none;
        height: 40px;
        width:50px;
        cursor: pointer;
        border-radius: 0;
        opacity: .7;
        border:1px solid white;
        text-align: center;
    }
 
    .mobileMenu i{
        background-color: white;
        border-radius: 2px;
        content: '';
        display: block;
        width: 95%;
        height: 3px;
        margin-bottom:5px
    }
    .mobileMenu i:last-child{
    margin-bottom: 0;;
    }

    .navbar{
        width:100%;
        margin-bottom:20px;
    }
    .nav-link{
        margin-bottom:10px;
        margin-top:10px;
    }
    .contactUs{
        padding:20px 0;
    }
    .marginBox{
        margin-top:50px
    }
    
}
@media(min-width:768px) and (max-width:1023px){
    body{
        font-size:14px
    }
    .owl-carousel .owl-stage-outer{
        overflow: hidden;
        padding:20px 5;
    }
    .clientBox{
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    }

   .marginAbout{
       margin-top:0;
   }
   .clients{
       padding:50px 0;
   }
   .sectionTitle{
       margin-bottom:20px;
   }
   .services{
    padding:50px 0;
}
.sectionTitle{
    margin-bottom:50px;
}

footer{
    padding:20px 0;
}
.subscribe{
    top:auto;
    margin-bottom:20px;
}
.sectionTitle{
    margin-bottom:50px;
}

    .hero{
        padding:20px 0;
    }
  
    .socialIcons{
        text-align: center;
    }
    .socialIcons li{
        float: none;
    }
  .marginBox{
      margin-top:0;
  }
    .heroText{
        margin-top: 20px;
    }

    .subscribeBtn{
        width:140px;
    }

    .marginForm{
        margin-left:24px;
    }
    .navbar-expand-lg .navbar-collapse{
        display: flex;
        flex-basis: auto;
         }
        .navbar-toggler{
        
            display: none;
         } 
    .navbar{
        width:70%;
        margin-top:20px;
    }
         .navbar-nav {
            display: -ms-flexbox;
            display: flex;}
            .navbar-expand-lg .navbar-nav {
                -ms-flex-direction: row;
                flex-direction: row;
            }
    
}